html{
    height: 100%;
    width: 100%;
}

h2{
    margin-left: 20px;
    color: white;
    font-family: Arial;
}

body{
    background-image: linear-gradient(to top right, #0000ff 0%, #9900ff 100%);
    background-repeat: no-repeat;

}

.ekraanTaust{
    background-color: #1D2028;
    width: 54%;
    height: 475px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    overflow-x: hidden;

}




